html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
    color: black;
}


header{
    background-color: aqua;
}


main {
    background-color: blue;
}


div {
    background-color: pink;
}


footer{
    background-color: red;
}

